{% extends "_layouts/main" %}

{% set setlist = craft.categories.group('songs').slug('setlist') %}
{% set wishlist = craft.categories.group('songs').slug('wishlist') %}
{% set members = craft.entries.section('members') %}

{% block content %}

	<div class="hero">
		{# <h1>
			{% for word in siteName | split(' ') %}
				<span>{{ word }}</span>
			{% endfor %}
		</h1> #}
		<h1>{{ siteName | replace(" ", "<br>") | raw }}</h1>
		<div class="hero-image"></div>
	</div>

	<div class="container">

		<div class="band-bio">
			<h2>{{ entry.bandHeader }}</h2>
			<p>{{ entry.bandBio }}</p>
		</div>

		{% if members.count() > 0 %}
			<div class="row">
				{% for member in members %}
					<div class="col-md-4">
						<div class="band-member">
							<div class="band-member-info">
								<h5>{{ member.memberName }}</h5>
								<h6>{{ member.instruments }}</h6>
							</div>
							<div class="band-member-cover"></div>
							<div class="band-member-image" style="background-image:url({{ member.profilePicture.one().url }})"></div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}

	</div>

	<div class="section-style1">

		<div class="container">
			
			<h2>Songs</h2>

			<h5><a href="https://open.spotify.com/user/jacksutherl/playlist/5nb0dSo3jylpT5r7v9m1C1?si=eaAwGGeZTvmgj1UpjyEAVQ" target="_blank">Spotify Playlist <i class="fas fa-volume-down"></i></a></h5>

			<div class="row">
				<div class="col-sm-6">
					<h5>Setlist</h5>
					{% if setlist.count() > 0 %}
						<ul>
							{% for song in setlist.one().children %}
								<li>{{ song.title }} <small><i>({{ song.songArtist }})</i></small></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class="col-sm-6">
					<h5>Wishlist</h5>
					{% if wishlist.count() > 0 %}
						<ul>
							{% for song in wishlist.one().children %}
								<li>{{ song.title }} <small><i>({{ song.songArtist }})</i></small></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}