{% extends "_layouts/main" %}

{% set setlist90s = craft.categories.group('songs').slug('setlist90s') %}
{% set setlist80s = craft.categories.group('songs').slug('setlist80s') %}
{% set members = craft.entries.section('members') %}
{% set shows = craft.entries().section('shows').orderBy('showDate asc').all() %}

{% block header %}
	<header>
        <div id="main-menu" class="container">
            <a href="#" class="d-none d-sm-inline"><h1>{{ siteName }}</h1></a>
            <a href="#about">ABOUT</a>
            <a href="#shows">SHOWS</a>
            <a href="#songs">SONGS</a>
            <a href="#contact">CONTACT</a>
        </div>
    </header>
{% endblock %}

{% block content %}

	<div class="hero">
		<h1>{{ siteName | replace(" ", "<br>") | raw }}</h1>
		<div class="hero-image"></div>
	</div>

	<div id="about" class="container">

		<div class="band-bio">
			<h2>{{ entry.bandHeader }}</h2>
			<p>{{ entry.bandBio }}</p>
		</div>

		{% if members.count() > 0 %}
			<div class="row">
				{% for member in members %}
					<div class="col-md-4">
						<div class="band-member">
							<div class="band-member-info">
								<h5>{{ member.memberName }}</h5>
								<h6>{{ member.instruments }}</h6>
							</div>
							<div class="band-member-cover"></div>
							<div class="band-member-image" style="background-image:url({{ member.profilePicture.one().url }})"></div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}

	</div>

	<div id="shows">
		{#
		<div class="container">
			<h2 class="text-center">Upcoming Shows</h2>
			<p class="text-center">We are currently booking shows for Summer 2019. Please <a  href="#contact">contact us soon</a> if you're interested in us performing at your event.</p>
			{% for show in shows  if show.showDate >= now %}
				<div class="show">
					<div class="row">
						
						<div class="col-md-4 col-lg-3 text-center">
							<div class="date-box">
								<div class="month">{{ show.showDate | date('mm Y') }}</div>
								<div class="date">{{ show.showDate | date('d') }}</div>
								<div class="weekday">{{ show.showDate | date('l') }} @ {{ show.showDate | date('h:ia') }}</div>
							</div>
						</div>
						<div class="col-md-8 col-lg-9">
							<a class="venue" target="_blank" href="https://www.google.com/maps/place/{{ show.venueAddress }}">
								<i class="fas fa-map-marker-alt"></i> 
								{{ show.venueName }}
							</a>
							<h5>{{ show.title }}</h5>
							<p>{{ show.showDetails }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div#}
	</div>

	<div class="section-style1">

		<div id="songs" class="container">

			<div class="mt-5">
				<iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/582457401&color=%232bb0ea&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=false"></iframe>
			</div>
			
			<h2>{{ entry.songsHeader }}</h2>
			{% if entry.songsText %}
				<p>{{ entry.songsText }}</p>
			{% endif %}

			<h5><a href="https://open.spotify.com/user/jacksutherl/playlist/5nb0dSo3jylpT5r7v9m1C1?si=eaAwGGeZTvmgj1UpjyEAVQ" target="_blank">Spotify Playlist <i class="fas fa-volume-down"></i></a></h5>

			<div class="row">
				<div class="col-sm-6">
					<h5>{{ setlist90s.one().title }}</h5>
					{% if setlist90s.count() > 0 %}
						<ul>
							{% for song in setlist90s.one().children %}
								<li>{{ song.title }} <small><i>({{ song.songArtist }})</i></small></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class="col-sm-6">
					<h5>{{ setlist80s.one().title }}</h5>
					{% if setlist80s.count() > 0 %}
						<ul>
							{% for song in setlist80s.one().children %}
								<li>{{ song.title }} <small><i>({{ song.songArtist }})</i></small></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}