{% extends "_layouts/main" %}

{% set setlist = craft.categories.group('songs').slug('setlist') %}
{% set wishlist = craft.categories.group('songs').slug('wishlist') %}
{% set members = craft.entries.section('members') %}
{% set shows = craft.entries().section('shows').orderBy('showDate asc').all() %}

{% block header %}
	<header>
        <div id="main-menu" class="container">
            <a href="#" class="d-none d-sm-inline"><h1>{{ siteName }}</h1></a>
            <a href="#about">ABOUT</a>
            <a href="#shows">SHOWS</a>
            <a href="#songs">SONGS</a>
            <a href="#contact">CONTACT</a>
        </div>
    </header>
{% endblock %}

{% block content %}

	<div class="hero">
		<h1>{{ siteName | replace(" ", "<br>") | raw }}</h1>
		<div class="hero-image"></div>
	</div>

	<div id="about" class="container">

		<div class="band-bio">
			<h2>{{ entry.bandHeader }}</h2>
			<p>{{ entry.bandBio }}</p>
		</div>

		{% if members.count() > 0 %}
			<div class="row">
				{% for member in members %}
					<div class="col-md-4">
						<div class="band-member">
							<div class="band-member-info">
								<h5>{{ member.memberName }}</h5>
								<h6>{{ member.instruments }}</h6>
							</div>
							<div class="band-member-cover"></div>
							<div class="band-member-image" style="background-image:url({{ member.profilePicture.one().url }})"></div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}

	</div>

	<div id="shows">
		<div class="container">
			<h2 class="text-center">Upcoming Shows</h2>
			{% for show in shows  if show.showDate >= now %}
				<div class="show">
					<div class="row">
						
						<div class="col-md-4 col-lg-3 text-center">
							<div class="date-box">
								<div class="month">{{ show.showDate | date('mm Y') }}</div>
								<div class="date">{{ show.showDate | date('d') }}</div>
								<div class="weekday">{{ show.showDate | date('l') }}</div>
							</div>
						</div>
						<div class="col-md-8 col-lg-9">
							<a class="venue" target="_blank" href="https://www.google.com/maps/place/{{ show.venueAddress }}">
								<i class="fas fa-map-marker-alt"></i> 
								{{ show.venueName }}
							</a>
							<h5>{{ show.title }}</h5>
							<p>{{ show.showDetails }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="section-style1">

		<div id="songs" class="container">
			
			<h2>{{ entry.songsHeader }}</h2>
			{% if entry.songsText %}
				<p>{{ entry.songsText }}</p>
			{% endif %}

			<h5><a href="https://open.spotify.com/user/jacksutherl/playlist/5nb0dSo3jylpT5r7v9m1C1?si=eaAwGGeZTvmgj1UpjyEAVQ" target="_blank">Spotify Playlist <i class="fas fa-volume-down"></i></a></h5>

			<div class="row">
				<div class="col-sm-6">
					<h5>Setlist</h5>
					{% if setlist.count() > 0 %}
						<ul>
							{% for song in setlist.one().children %}
								<li>{{ song.title }} <small><i>({{ song.songArtist }})</i></small></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class="col-sm-6">
					<h5>Wishlist</h5>
					{% if wishlist.count() > 0 %}
						<ul>
							{% for song in wishlist.one().children %}
								<li>{{ song.title }} <small><i>({{ song.songArtist }})</i></small></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}